:root {
  --text-size-sm-p: calc(8px + .5vw);
  --text-size-sm-h: calc(12px + .5vw);
  --text-size-m-h: calc(16px + 1vw);
  --text-size-subtitle: calc(20px + 1.5vw);
  --text-size-title: calc(24px + 2vw);
  
}

html {
  font-family: Roboto;
}