:root {
  --text-size-sm-p: calc(8px + .5vw);
  --text-size-sm-h: calc(12px + .5vw);
  --text-size-m-h: calc(16px + 1vw);
  --text-size-subtitle: calc(20px + 1.5vw);
  --text-size-title: calc(24px + 2vw);
  --page-margin: 0 2vw;
  --gray: lightgray;
  --white: white;
  --black: #303030;
  --green: #219653;
  --blue: #2d9cdb;
}

html {
  font-family: Roboto;
  color: var(--black);
}

@media (min-width: 700px) {
  :root {
    --page-margin: 0 10vw;
  }
}

@media (min-width: 1100px) {
  :root {
    --page-margin: 0 20vw;
  }
}