.involvementListContainer {
  margin: var(--page-margin);
}

.involvementList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
}

.involvement {
}

.involvementHeading {
  margin: 0;
  font-size: var(--text-size-m-h);
}

.orgHeading {
  margin: 0;
  font-style: italic;
}

.involvementBanner {
  width: 100%;
  border-radius: 5px;
}

.involvementLinks {
  margin-top: 2.5em;
  text-align: center;
}