.involvementListContainer {
  margin: var(--page-margin);
}

.involvementList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1em;
}

.involvementHeading {
  margin: 0;
  font-size: var(--text-size-m-h);
}

.orgHeading {
  margin: 0;
  font-style: italic;
}