.navList {
  text-align: center;
}

.navItem {
  display: inline-block;
  margin-right: 1em;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.link:hover {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}

@media (min-width: 600px) {
  .navList {
    position: absolute;
    top: 0;
    right: 0;
  }
  .navItem {
    margin-left: 10px;
  }
} 