.navList {
  position: absolute;
  top: 0;
  right: 0;
}

.navItem {
  display: inline-block;
  margin-right: 2vw;
}

.link {
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) {
  .navItem {
    margin-left: 20px;
  }
} 