.projectList {
  margin: var(--page-margin);
}

.project {
  margin-bottom: calc(2vw);
}

.projectInfoContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 5fr;
}

.projectTitle {
  font-size: var(--text-size-m-h);
  margin: .25em 0;
}

.projectInfo {
  padding-right: 10px;
  font-size: var(--text-size-sm-p);
}

.mainImage {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--black);
}

@media (min-width: 440px) {
  .projectInfoContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
