img {
  outline: 1px solid var(--black);
}

.projectList {
  margin: var(--page-margin);
}

.project {
  margin-bottom: calc(40px + 10vw);
}

.projectInfoContainer {
  width: 40%;
  float: left;
}

.projectInfo {
  padding-right: 10px;
}

.mainImage {
  width: calc(60% - 2px);
}

.subImage {
  width: 33%;
}

.subImageFlexContainer {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 2px 10px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--black);
  white-space: nowrap;
  background: none;
  font: inherit;
}

.button:hover {
  background: var(--green);
  border-color: var(--green);
  color: var(--white);
  cursor: pointer;
}