.projectList {
  margin: var(--page-margin);
}

.project {
  margin-bottom: calc(5vw);
}

.projectInfoContainer {
  width: 55%;
  float: left;
}

.projectTitle {
  font-size: var(--text-size-m-h);
  margin: .25em 0;
}

.projectInfo {
  padding-right: 10px;
}

.mainImage {
  width: 45%;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--black);
}

@media (min-width: 600px) {
  .mainImage {
    width: 60%;
  }
  .projectInfoContainer {
    width: 40%;
  }
}
